@tailwind base;
@tailwind components;
@tailwind utilities;

/*#region core styles*/
body {
  color: #fcfcfc;
  background-color: #26282f;
  margin: 0;
  min-width: 360px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b6b6b6;
}
::-webkit-scrollbar-track {
  background: rgba(182, 182, 182, 0.5);
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fcfcfc;
  -webkit-box-shadow: none;
  caret-color: #fcfcfc;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;

  height: 24px;
  width: 24px;
  margin: 3px 0 0 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

input:autofill,
input:-webkit-autofill {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
li {
  list-style-type: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*#endregion*/

/* #region tailwind directives */
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .abc {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-none {
    animation: none;
  }

  .animate-spin {
    animation: spin 1s linear 1.5s;

    &-infinite {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 1.5s;

    &-infinite {
      animation: ping 1s linear infinite;
    }

    @keyframes ping {
      75%,
      100% {
        transform: scale(2);
        opacity: 0;
      }
    }
  }

  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 1.5s;

    &-infinite {
      animation: pulse 1s linear infinite;
    }

    @keyframes pulse {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }
  }

  .animate-bounce {
    animation: bounce 1s 1.5s;

    &-infinite {
      animation: bounce 1s linear infinite;
    }

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }
}
/* #endregion */

.fadein {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* dropdown component */
.dropdown-arrow polygon {
  fill: #333741;
}

/* navbar component */
.transparent-nav {
  background: transparent
    linear-gradient(180deg, #26282f 0%, rgba(128, 128, 128, 0) 100%) 0% 0%
    no-repeat padding-box !important;
  box-shadow: none !important;
}

/* mobile input input component */
.mobile-input {
  .react-tel-input {
    background-color: transparent;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #444548;

    .special-label {
      display: none;
    }

    &::before {
      border-bottom: 1px solid #444548;
      left: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      right: 0;
      -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1)
        0ms;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      pointer-events: none;
    }

    input.form-control {
      background-color: inherit; // follow component standard
      color: #fcfcfc !important; // follow component standard
      width: 100%; // follow component standard
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:focus,
      &:focus-visible {
        border-bottom: 1px solid #e50b0d !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        outline: none;
      }
    }

    input,
    input .open,
    .flag-dropdown,
    .flag-dropdown.open,
    .flag-dropdown.open .selected-flag {
      background: transparent;
      border: none;
      font-size: 1rem;
      color: #fcfcfc;
    }

    .selected-flag {
      &:hover {
        background: transparent !important;
        border: none !important;
      }
    }

    .country-list {
      border: 2px solid #545969;
      border-radius: 4px;
      background-color: #2d3038;
      width: max-content;

      .search {
        background-color: #2d3038;
        padding: 15px 10px;
      }

      .country {
        &:hover {
          background-color: #c7cbd333 !important;
        }

        .dial-code {
          color: #c7cbd3;
        }
      }

      .country.highlight {
        background-color: #c7cbd333 !important;
      }
    }
  }
}
